/* your code here */
.top{
	display:flex;
	justify-content:space-between;
	margin: 10px;
}
.media-icons{
	border-radius:100px;
	display:flex;
	justify-content:space-evenly;
}
.link-boxes{
	display:flex;
	direction:column;
}
.bottom-details{
	background-color:gray;
	border-top: 1px solid gray;
	display:flex;
	justify-content:space-between;
	margin:10px
}